body{
    background-image: url("../Assets/Images/hout.jpg");
}

table{
    border-collapse: collapse;
    border-width: thick;
    border-color: darkred;
    margin: 0 auto 0 auto;
}

td{
    width: 75px;
    height: 75px;
}

.wit{
    background-image: url("../Assets/Images/witte-marmer.jpg");
}

.zwart{
    background-image: url("../Assets/Images/zwarte-marmer.jpg");
}

img{
    display: block;
    margin: 0 auto 0 auto;
}

.tekst{
    background-image: url("../Assets/Images/witte-marmer.jpg");
    float: right;
    width: 8%;
}